<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Title & Description-->
    <title>Machine Learning Based Ishihara Colour Vision Test</title>
    <meta name="description" content="Datascience Ishihara Project">

    <!-- Necessary Head Scripts -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5KLXJDJT8V"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5KLXJDJT8V');
    </script>
    <!-- End Google Site Tag -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KGRRJFT');</script>
    <!-- End Google Tag Manager -->

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body class="container p-4 ">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGRRJFT" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="w-80">
        <div class="row col-12 p-4">
            <h1 class="pt-30 m-30">Machine Learning with Ishihara</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 d-flex align-self-center text-center justify-content-center">
                <div>
                    <img src="{{temp_img_url}}" alt="Ishihara Image" style="width:95%">
                    <span class='mb-2'>Attempt Number: {{counter}}/30</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 d-flex align-self-center justify-content-center">
                <form id="form" action="" method="POST">
                    <center>
                        <input id="submit1" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="1"  />
                        <input id="submit2" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="2"  />
                        <input id="submit3" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="3"  />
                        <input id="submit4" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="4"  />
                        <input id="submit5" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="5"  /><br>
                        <input id="submitA" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="A"  />
                        <input id="submitB" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="B"  />
                        <input id="submitC" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="C"  />
                        <input id="submitD" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="D"  />
                        <input id="submitE" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="E"  /><br>
                        <input id="submitN" name="submit" class="btn btn-primary p-3 m-2" type="submit" value="No Image"  />
                        <input id="submitU" name="submit" class="btn btn-primary p-3 m-3" type="submit" value="Uncertain"  />
                    </center>
                </form>
            </div>
        </div>
        <div class="row col-12 p-4 justify-content-center mt-3">
            <h4 class="lead">Welcome to the Self Calibrating Recognition Environment.</h4>
            <p>This anonymous data collection project is based on the <mark>Ishihara colour perception test</mark>
                invented
                by Shinobu Ishihara, a professor at the University of Tokyo, who first published his tests in 1917.</p>
            <p>This basic image generator is collecting data about semi-randomly generated colour information which is
                slowly mapping out the range of different colour strengths and weaknesses present in the population.
                Over time the tool will continue to be improved.</p>
            <p>It's "Self Calibrating" because the tests get more difficult over time as more users add data.
                The colour data and responses are fed into machine learning algorithms which find patterns and adjust the
                pallets to better test certain ranges of colour based recognition.</p>
            <p>Please ensure only one person is answering the questions per device at a time and try to answer questions as fast as
                possible, <mark>(100+ would be ideal)</mark> so that useful and reliable statistics can be processed and
                results displayed soon.</p>
            <p class="lead">Thanks so much for your time and help. ~ Ben</p>
        </div>
    </div>
</body>
</html>